<div *ngIf="productQuote" class="w3-padding" style="color: var(--text-color)">

  <div class="w3-row" style="background-color: var(--background-color); width: 80vw">

    <div class="w3-row w3-border-bottom">

      <div class="w3-container w3-cell w3-right w3-cell-bottom w3-padding">

        <button class="w3-button w3-tiny w3-round" (click)="navigated.emit(-1)"
                style="background-color: var(--secondary-color); border-color: var(--secondary-color); color: white">
          <em class="pi pi-chevron-left w3-tiny"></em>
        </button>

        <button class="w3-button w3-tiny w3-border-right" (click)="navigated.emit(-1)"
                style="background-color: white;"> Previous </button>
        <button class="w3-button w3-tiny  w3-center" (click)="navigated.emit(1)"
                style="background-color: white; width: 70px"> Next </button>

        <button class="w3-button w3-tiny w3-round" (click)="navigated.emit(1)"
                style="background-color: var(--secondary-color); border-color: var(--secondary-color); color: white">
          <em class="pi pi-chevron-right w3-tiny"></em>
        </button>


      </div>
      <div class="w3-container w3-red w3-cell w3-cell-bottom w3-margin-bottom ">
        <br>
        Heat Pump Electric Water Heater > <strong>{{productQuote.name}}</strong>
      </div>

    </div>

    <br>

    <div class="w3-row">

      <div class="w3-col l1" style="padding-right: 10px">
        <div *ngFor=" let image of images; let i = index"
             class="w3-card w3-center w3-round w3-margin-bottom {{selectedImageIndex == i ? 'black-4px-border': 'w3-opacity'}}"
             (click)="selectedImageIndex = i"
             style="background-color: white; ">
          <img [src]="image"
               alt="product image" style="height: 90px; padding: 4px">
        </div>
      </div>

      <div class="w3-col l10">

        <div class="w3-row">

          <div class="w3-col l5">
            <div class="w3-card w3-center" style="background-color: white">
              <img src="assets/images/img1.png"
                   class="w3-padding-48"
                   alt="product image" style="height: 480px">
            </div>
          </div>

          <div class="w3-col l7">
            <div class="w3-right w3-center w3-small">
              <img src="assets/images/Energy_Star_logo.svg.png" alt="Energy Start logo">
              <br>
              3.4 of <img src="assets/icons/info-tooltip.svg" alt="info icon">
            </div>
            <div class="w3-padding">
              <h1 style="color: black; margin-bottom: -20px">
                <strong>{{productQuote.manufacturer_name}}</strong>
              </h1>

              <h3 style="margin-bottom: 6px">
                <strong>
                  {{productQuote.volume}} Gal. {{productQuote.name}}

                </strong>
              </h3>


              <strong style="color: var(--primary-color); margin-bottom: -28px">XBSERNJDC</strong>

              <div class="w3-row">

                <hr class="w3-left" style="border-color: black!important; width: 30px">
              </div>


              <div class="w3-row" style="margin-left: -20px">
                <ul class="blue" style="list-style-type: none;">
                  <li *ngFor="let highlight of productQuote.detail_highlight">{{highlight}}</li>
                </ul>
              </div>

              <br>

              <div class="w3-row w3-xxlarge" style="font-weight: bolder">
                <table aria-describedby="none">
                  <tr>
                    <th id="gross" class="w3-padding strikethrough w3-margin-right ">
                      <sup class="w3-large">$</sup>{{productQuote.base_price}}<sup  class="w3-large">00</sup>
                    </th>
                    <th id="net" class="w3-padding w3-border-left " style="padding-left: 10px; color: var(--primary-color)">
                      <div class="w3-left-align" style="margin-bottom: -24px">
                      <sup class="w3-large">$</sup>{{productQuote.netCost - 1000}}<sup  class="w3-large">00</sup>

                      </div>
                      <span class="w3-small">* With all incentives applied</span>

                    </th>
                  </tr>
                </table>

              </div>

              <br>


              <button class="w3-button w3-round" style="background-color: var(--secondary-color); color: white">Get Install Quote</button>
              &nbsp; &nbsp;
              <span (click)="closed.emit(true)" style="color: blue; cursor: pointer">Back to Results</span>

            </div>

          </div>

        </div>

        <br>


        <div class="w3-card w3-padding" style="background-color: white">


          <p-tabView>
            <p-tabPanel header="Product Overview" style="color: var(--text-color); font-weight: bold">
              <p >Accelera heat pump water heaters save up to 80% of hot water costs because they extract heat to make hot water from energy in the air. The heat pump draws less energy than a toaster while it is running and making hot water. In warm climates, Accelera can be placed in a garage, where it uses the heat from the outside air; or inside the house, where it helps with air conditioning. </p>

              <div class="w3-row" style="padding: 0">

                <div class="w3-threequarter  w3-border-right">

                  <div  class="w3-half" style="padding: 8px 16px 8px 0"
                       *ngFor="let product_bullet_block of productQuote.product_bullet_block">
                    <div class="w3-row w3-border">

                      <div
                        style="background-color: var(--primary-color); color: white"
                        class="w3-padding">
                        <em class="pi pi-check"></em> &nbsp; <strong>{{product_bullet_block.product_bullet}}</strong>
                      </div>


                      <div class="w3-padding w3-small" style=" height: 92px;">
                        {{product_bullet_block.product_block}}
                      </div>

                    </div>
                  </div>


                </div>

                <div class="w3-quarter w3-padding w3-small">
                  <div class="" style="font-weight: bolder;">

                    Base Price - - - - - - - - - - - - - - - - - - - - <span class="w3-right"> $ {{productQuote.base_price}}</span>
                    <div class="w3-opacity ">
                      <span class="w3-small">(Installation not included)</span>

                      <br>
                      &nbsp; &nbsp; Federal Tax Credit &nbsp;<img src="assets/icons/info-tooltip.svg" alt="info icon">  - - -  - - - -  - - <span class="w3-right"> - $ 300</span>
                      <br>
                      &nbsp; &nbsp; Utility Incentives &nbsp;<img src="assets/icons/info-tooltip.svg" alt="info icon">  - - - - - - - - - <span class="w3-right"> - $ 1000</span>


                    </div>


                    Equipment Cost &nbsp;<img src="assets/icons/info-tooltip.svg" alt="info icon"> - - - - - - - - - - - - - <span class="w3-right w3-large" style="color: var(--secondary-color)"> $ {{productQuote.base_price}}</span>

                    <br>
                    <br>

                    <div class="w3-center">

                      <div class="w3-round w3-border w3-padding" style="border-color: green !important; width: 84%; margin: auto">
                        Your Est. Annual Savings is <span style="color: green"> $ 120&nbsp;<img src="assets/icons/info-tooltip.svg" alt="info icon"> </span>
                      </div>


                    </div>

                  </div>


                </div>


              </div>


            </p-tabPanel>
            <p-tabPanel header="Product Specs">

              <figure style="margin: 0"> <figcaption>Dimensions</figcaption>
              <table class="w3-table w3-small w3-bordered w3-border w3-round"  style="table-layout: fixed">
                <tr style="display: none">
                  <th scope="row"></th>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>228</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>111</td>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>218</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>2118</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>123</td>
                </tr>
              </table>

              </figure>

              <br>

              <figure style="margin: 0"> <figcaption>Details</figcaption>
              <table class="w3-table w3-small w3-bordered w3-border w3-round"  style="table-layout: fixed">
                <tr style="display: none">
                  <th scope="row"></th>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>283</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>228</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>11</td>
                </tr>
              </table>

              </figure>

              <br>

              <figure style="margin: 0"> <figcaption>Warranty / Certifications</figcaption>
              <table class="w3-table w3-small w3-bordered w3-border w3-round"  style="table-layout: fixed">
                <tr style="display: none">
                  <th scope="row"></th>
                </tr>
                <tr>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>28</td>
                  <td style="background-color: var(--background-color)">Product Depth</td>
                  <td>1</td>
                </tr>
              </table>

              </figure>


            </p-tabPanel>
          </p-tabView>


        </div>

        <p class="w3-tiny">All values displayed on this page are based on standard industry assumptions. Savings numbers are calculated based on present day market circumstances, but may vary due to utility adjustments to rates or policy, or due to updates to the system design. Finance payments displayed are estimates subject to credit approval and based upon current provider rates that are subject to change. Your payments and rates may be higher.
        </p>



      </div>

      <div class="w3-col l1">
        &nbsp;
      </div>

    </div>

  </div>


</div>
